<!-- Footer
================================================== -->
<footer class="site-footer bg-bl-russian">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="widget">
                        <div class="widget-content">
                            <figure class="widget-thumb">
                                <img src="{{relative_url}}/assets/images/logo.png" alt="" />
                            </figure><!--  /.widget-thumb -->                           
                            <p>Infusing Small Businesses With C-Suite<br> AI Workforce For Unparalleled Growth.</p>
                        </div><!--  /.widget-content -->
                    </div><!--  /.widget -->
                </div><!--  /.col-md-4 -->
                <div class="col-md-2 justify-content-start">
                    <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Juxi</h2>
                        <div class="widget-content">
                            <ul>
                                <li><a href="/about">About</a></li>
                                <li><a href="/product">Product</a></li>
                                <li><a href="/team">Team</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </div><!--  /.widget-content -->
                    </div><!--  /.widget -->
                </div><!--  /.col-md-4 -->
                <div class="col-md-2 ml-auto">
                    <div class="widget">
                        <h2 class="widget-title">Follow Us</h2>
                        <div class="widget-content">
                            <ul class="social-link">
                                {% if site.twitter_url %}
                                 <li><a href="{{site.twitter_url}}"><i class="fa fa-twitter"></i></a></li>
                                {% endif %}
                                {% if site.facebook_url %}
                                 <li><a href="{{site.facebook_url}}"><i class="fa fa-youtube"></i></a></li>
                                {% endif %}
                                {% if site.instagram_url %}
                                 <li><a href="{{site.instagram_url}}"><i class="fa fa-instagram"></i></a></li>
                                {% endif %}
                                {% if site.facebook_url %}
                                 <li><a href="{{site.facebook_url}}"><i class="fa fa-facebook"></i></a></li>
                                {% endif %}
                                {% if site.linkedin_url %}
                                 <li><a href="{{site.linkedin_url}}"><i class="fa fa-linkedin"></i></a></li>
                                 <li><a href="mailto:hello@juxi-ai.com"><i class="fa fa-envelope"></i></a></li>
                                {% endif %}
                            </ul><!--  /.social-link -->
                        </div><!--  /.widget-content -->
                    </div><!--  /.widget -->
                </div><!--  /.col-md-4 -->
            </div><!--  /.row -->
        </div><!--  /.container -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="copyright-text">Copyright 2024 <a href="#">JUXI</a> All rights Reserved.</p>
                </div><!--  /.col-md-6 -->
            </div><!--  /.row -->
        </div><!--  /.container -->
    </div><!--  /.footer-middle -->
</footer>
<!--  /.site-footer -->