<!-- Team Block
================================================== -->
<section class="our-team pd-tb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Meet Our C-Suite Executives</h2>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-12">
                <div class="team-slider owl-carousel">
                    <div class="item">
                        <div class="team-item">                            
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                                <div class="hexagonal-img-hex-in2">
                                                    <img src="{{relative_url}}/assets/images/product/1_resized.jpg" class="hexagonal-image" alt="person-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.hexagonal -->

                            <div class="team-content text-center">
                                <h2 class="member-name">Dave AI</h2>
                                <p class="member-deseg">Chief Marketing Officer</p>
                                <p class="member-deseg">Dave AI transforms your approach to marketing, offering personalized insights and strategies to captivate your market and drive business growth.</p>
                                <a href="/product/cmo" class="call-to-link-2 mt-2">Learn More</a>
                            </div><!--  /.team-content -->
                        </div><!--  /.team-item -->
                    </div><!--  /.item -->
                    <div class="item">
                        <div class="team-item">                            
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                                <div class="hexagonal-img-hex-in2">
                                                    <img src="{{relative_url}}/assets/images/product/2_resized.jpg" class="hexagonal-image" alt="person-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.hexagonal -->
                            
                            <div class="team-content text-center">
                                <h2 class="member-name">Leila AI</h2>
                                <p class="member-deseg">Chief Sales Officer</p>
                                <p class="member-deseg">Leila AI transforms your commercial strategy, offering innovative solutions for sales, customer engagement, and market expansion</p>
                                <a href="/product/cso" class="call-to-link-2 mt-2">Learn More</a>
                            </div><!--  /.team-content -->
                        </div><!--  /.team-item -->
                    </div><!--  /.item -->
                    <div class="item">
                        <div class="team-item">                            
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                                <div class="hexagonal-img-hex-in2">
                                                    <img src="{{relative_url}}/assets/images/product/3_resized.jpg" class="hexagonal-image" alt="person-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.hexagonal -->
                            
                            <div class="team-content text-center">
                                <h2 class="member-name">Alice AI</h2>
                                <p class="member-deseg">Chief Financial Officer</p>
                                <p class="member-deseg">Alice AI revolutionizes your financial management, collaborating with you for informed decision-making and innovative financial strategies.</p>
                                <a href="/product/cfo" class="call-to-link-2 mt-2">Learn More</a>
                            </div><!--  /.team-content -->
                        </div><!--  /.team-item -->
                    </div><!--  /.item -->
                    <div class="item">
                        <div class="team-item">                            
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                                <div class="hexagonal-img-hex-in2">
                                                    <img src="{{relative_url}}/assets/images/product/4.jpg" class="hexagonal-image" alt="person-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.hexagonal -->
                            
                            <div class="team-content text-center">
                                <h2 class="member-name">Ha Nguyen</h2>
                                <p class="member-deseg">( Graphic Design )</p>
                            </div><!--  /.team-content -->
                        </div><!--  /.team-item -->
                    </div><!--  /.item -->
                    <div class="item">
                        <div class="team-item">                            
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                                <div class="hexagonal-img-hex-in2">
                                                    <img src="{{relative_url}}/assets/images/product/1.jpg" class="hexagonal-image" alt="person-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.hexagonal -->
                            
                            <div class="team-content text-center">
                                <h2 class="member-name">Lam Hoang</h2>
                                <p class="member-deseg">( CEO - Shailthemes )</p>
                            </div><!--  /.team-content -->
                        </div><!--  /.team-item -->
                    </div><!--  /.item -->
                </div><!--  /.team-slider -->
            </div><!--  /.col-12 -->
        </div><!--  /.row -->
    </div><!--  /.container -->
</section>
<!--  /.our-team -->