<!-- Slider Block
================================================== -->
<div class="slider-block slider-one">
    <div class="rev_slider_wrapper">
        <div class="rev_slider litmus-slider" data-version="5.4.5.1">
            <ul>
                <!-- slide 1 --> 
                <li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="materialize Material" data-description="">

                    <!-- main image -->
                    <img src="{{relative_url}}/assets/images/transparent.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgcolor="#0d1422" data-no-retina>

                   <!-- layer no 1 -->
                   <div class="tp-caption tp-resizeme"
                   data-type="text"
                   data-x="['center','center','center','center']" 
                   data-y="['center','center','center','center']"
                   data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1350,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                   data-splitin="none"
                   data-whitespace="nowrap"
                   data-fontsize="['30','30','25','25']"
                   data-lineheight="['30','30','25','25']"
                   data-responsive_offset="on"
                   style="z-index: 998; text-align: right; font-weight: 600; color: #03dedf; font-family: 'Montserrat', sans-serif;">Empowering small business owners
               </div>
                    <!-- layer no 2 -->
                    <div class="tp-caption tp-resizeme"
                    data-type="text"
                    data-x="['center','center','center','center']" 
                    data-y="['center','center','center','center']" data-voffset="['35','35','15','45']"
                    data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1350,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                    data-splitin="none"
                    data-whitespace="nowrap"
                    data-fontsize="['30','30','25','25']"
                    data-lineheight="['30','30','25','25']"
                    data-responsive_offset="on"
                    style="z-index: 998; text-align: right; font-weight: 600; color: #03dedf; font-family: 'Montserrat', sans-serif;">with their own AI C-Suite executives
                </div>
                </li><!-- /.slide 1 -->
        </div><!-- /.revolution slider -->
    </div><!-- /.slider wrapper -->
</div>
<!--  /.slider-block -->