<form class="newsletter-form  validate" method="post" action="{{site.form_action_url}}">
    <div class="row align-items-center">
        <div class="col-md-4 pd-20">
            <h7 class="form-title">Be the First to Know: <br></h7>
            <h7 class="form-title">Join Our Launch List</h7>
        </div><!--  /.col-md-3 -->
        <div class="col-md-4">
            <input type="email" class="form-controller" name="subescrbe_mail" placeholder="Enter your email" required />
        </div><!--  /.col-md-6 -->
        <div class="col-md-4">
            <button type="submit" class="newsletter-btn">JOIN LIST</button>
        </div><!--  /.col-md-3 -->
    </div><!--  /.row -->
    <div class="newsletter-message">                    
        <div class="subscription-success"></div>
        <div class="subscription-error"></div>
    </div><!--  /.message -->
</form>