<form class="newsletter-form  validate" method="post" action="{{site.form_action_url}}">
    <div class="row align-items-center">
        <div class="col-md-6 pd-20">
            <h7 class="form-title">Be the First to Know: <br></h7>
            <h7 class="form-title">Join Our Launch List</h7>
            <p>Sign up to be among the first to discover the groundbreaking debut of Juxi's AI-driven C-suite solutions.</p>
            <p>By joining our launch notification list, you'll receive exclusive updates and be at the forefront when we unveil the future of business management.</p>
        </div><!--  /.col-md-3 -->
        <div class="col-md-4">
            <input type="email" class="form-controller" name="subscribe_mail" placeholder="Enter your email" required />
        </div>
        <div class="col-md-4">
            <button type="submit" class="newsletter-btn" style="margin-top: 10px;">JOIN LIST</button>
        </div><!--  /.col-md-3 -->
    </div><!--  /.row -->
    <div class="newsletter-message">                    
        <div class="subscription-success"></div>
        <div class="subscription-error"></div>
    </div><!--  /.message -->
</form>