---
layout: default
---

{% include page_header.html %}
<div class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto pt-80 pb-80">
				{% if page.thumbnail %}
				<div class="page-thumbnail mb-4"  style="text-align: left;">
					<img src="{{page.thumbnail}}" alt="{{page.title}}" class="image-container"/>
				</div>
				{% endif %}
				<div class="content" style="text-align: left;">
					{{page.content}}
				</div>
			</div>
		</div>
	</div>
</div>